.footer{
    margin: 105px 0 83px;
}

.footer-nav{
    width: 100%;
    max-width: 213px;
    &__item{
        padding-bottom: 10px;
    }
}

.footer-form__form-text{
    width: 100%;
    width: 325px;
    height: 48px;
    margin:0 0 20px;
}

.footer {
    .container{
        border-top: 1px solid  rgba(188, 208, 229, 0.496913);
        padding-top: 105px;
    }
}


.footer {
    .flex-container{
        justify-content: flex-end;
    }
}
