.choose-section{
    background-image: url(/src/image/back-choose.png);
    width: 100%;
    background-repeat: no-repeat;
    padding: 0 0 117px;

    @include breakpoint ('md'){
        padding: 0 0 100px;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }

    &__text-holder, &__img-holder{
        width: 50%;

        @include breakpoint ('md'){
            width: 100%;
        }
    }

    &__text-holder{
        padding: 211px 0 0;

        @include breakpoint ('md'){
            padding: 50px 0 0;
        }
    }

    &__img-holder{
        padding: 117px 0 0;

        @include breakpoint ('md'){
            display: flex;
            padding: 0;
            width: 50%;
        }
    }

    &__title{
        font-family: 'Aleo', sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        padding: 0 0 50px;

        @include breakpoint ('sm'){
            font-size: 30px;
        }
    }

    &__description{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        padding: 0 0 45px;
        color: $balck-white;
    }

    &__img{
        max-width: 350px;
        margin: 0 0 0 200px;

        @include breakpoint ('lg'){
            margin: 0 0 0 140px;
        }

        @include breakpoint ('my'){
            margin: 0 0 0 100px;
        }

        @include breakpoint ('md'){
            margin: 0;
            padding: 0 0 0 20px;
        }

        &_house{
            max-width: 350px;
            margin: 0 0 10px 110px;

            @include breakpoint ('lg'){
                margin: 0 0 10px 70px;
            }

            @include breakpoint ('my'){
                margin: 0 0 10px 50px;
            }

            @include breakpoint ('md'){
                margin: 0;
                padding: 0
            }
        }
    }
}