.hero-section{
    background-image: url(/src/image/back-header.jpg);
    background-repeat: no-repeat;
    padding: 277px 0 142px;
    text-align: center;

    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        padding: 0 0 11px;
        
        @include breakpoint ('sm'){
            font-size: 28px;
            line-height: 16px;
        }
    }

    &__description{
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        display: block;
        padding: 0 0 48px;
    }

    &__form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0 0 107px;
    }

    &__input{
        width: calc(100% - 153px);
        background-color: $white;
        height: 63px;
        border: none;
        outline: none;

        &::placeholder{
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            color: $grey;
        }
    }

    &__btn{
        position: relative;
        font-family: 'Aleo', sans-serif;
        background-color: $blue;
        color: $white;
        border: 2px solid #FFFFFF;
        width: 100%;
        max-width: 153px;
        outline: none;

        @include breakpoint ('md'){
            max-width: 90px;
        }
    }

    &__img{
        position: absolute;
        display: inline-block;
        width: 22px;
        height: 24px;
        margin: -3px 0 0 10px;

        @include breakpoint ('md'){
            display: none;
        }
    }

    &__scroll{
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
    }

    &__scroll-btn{
        border: solid $white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
    }
}