*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    font-family: poppins,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #544837;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    color: #2F281E;
}

.header{
    padding: 20px 0;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    z-index: 1; */
}

.nav{
    display: flex;
    flex-wrap: wrap;
}

.nav-list{
    margin: 0 60px 0 -20px;
    padding: 10px 0;
}

.nav-list__item{
    display: inline-block;
    padding: 0 20px;
}

.btn-list{
    text-align: center;
    margin: 0 60px 0 -20px;
    padding: 10px 0;
}

.btn-list__item{
    display: inline-block;
    padding: 0 10px;
}

.btn{
    color: white;
    background: #FF9900;
    border-radius: 4px;
}

.small{
    padding: 11px 25px;
}

.big{
    padding: 15px 35px;
}

.btn-white{
    color: black;
    padding: 11px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design_thinking{
    margin: 30px 0 110px;
}


.design_thinking__text-col, .design_thinking__btn-item{
    width: 50%;
}

.design_thinking__title{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.design_thinking__text-holder{
    max-width: 100%;
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.design_thinking__btn-list{
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0;
}

.btn-play{
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
}

.btn-play img{
    padding-right: 9px;
}

.design-tools__title{
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    padding: 0 0 54px;
}

.design-block{
    width: 25%;
}

.design-block__img{
    padding: 0 0 30px;
}

.design-block__title{
    padding: 0 0 13px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.design-block__description{
    width: 100%;
    width: 240px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.design-tools-btn__btn-item{
    padding: 60px;
    text-align: center;
}

.design-professionals{
    margin: 210px 0 102px;
}

.design-professionals__text-holder, .design-professionals__img-holder{
    width: 50%;
}

.design-professionals__pseudo-title{
    padding: 0 0 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.design-professionals__hero-title{
    padding: 0 0 22px;
    font-size: 36px;
    line-height: 54px;
}

.design-professionals__description{
    padding:  0 0 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.design-professionals__title-description{
    padding: 0 0 12px;
    font-size: 16px;
    line-height: 26px;
}

.design-professionals__img-holder{
    padding-left: 104px;
}

.product-managers{
    margin: 0 0 106px;
}

.product-managers__img-holder, .product-managers__text-holder{
    width: 50%;
}

.product-managers__img-holder{
    padding: 0 102px;
}

.product-managers__pseudo-title{
    padding: 0 0 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.product-managers__hero-title{
    padding:  0 0 22px;
    font-size: 36px;
    line-height: 54px;
}

.product-managers__description{
    padding: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.text-list__item{
    padding: 0 0 30px;
    width: 385px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 39px;
}

.text-list__item::before{
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: -65px;
    top: 50%;
    background: #FF9900;
    border-radius: 14px;
}

.text-list__item::before{
    position: absolute;
    content: "\2714";
    color: white;
    left: -53px;
    top: 9px;
}

.markets{
    margin: 0 0 147px;
}

.footer{
    margin: 105px 0 83px;
}

.footer-nav{
    width: 100%;
    max-width: 213px;
}

.footer-nav__item{
    padding-bottom: 10px;
}

.footer-form__form-text{
    width: 100%;
    width: 325px;
    height: 48px;
    margin:0 0 20px;
}

.footer .container{
    border-top: 1px solid  rgba(188, 208, 229, 0.496913);
    padding-top: 105px;
}


.footer .flex-container{
    justify-content: flex-end;
}
