*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-holder {
  font-family: "Aleo", sans-serif;
  background-color: #5474FD;
  max-width: 228px;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
@media (max-width: 768px) {
  .btn-holder {
    margin: 0 0 20px;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 30px 0;
  background-color: #5474FD;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.active nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header.active .nav-opener span {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header.active .nav-opener::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header.active .nav-opener::after {
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    background-color: #5474FD;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
}
.nav__list {
  list-style: none;
}
@media (max-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px;
    width: 100%;
  }
}
.nav__item {
  font-family: "Aleo", sans-serif;
  display: inline-block;
}
@media (max-width: 768px) {
  .nav__item {
    width: 100%;
  }
}
.nav__link {
  padding: 0 12px;
}
@media (max-width: 768px) {
  .nav__link {
    display: block;
    text-align: center;
    padding: 10px;
  }
}

.nav-opener {
  display: none;
}
@media (max-width: 768px) {
  .nav-opener {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 3;
  }
}
.nav-opener::before {
  content: "";
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.nav-opener::after {
  content: "";
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.nav-opener span {
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hero-section {
  background-image: url(/src/image/back-header.jpg);
  background-repeat: no-repeat;
  padding: 277px 0 142px;
  text-align: center;
}
.hero-section__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  padding: 0 0 11px;
}
@media (max-width: 639px) {
  .hero-section__title {
    font-size: 28px;
    line-height: 16px;
  }
}
.hero-section__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: block;
  padding: 0 0 48px;
}
.hero-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 0 107px;
}
.hero-section__input {
  width: calc(100% - 153px);
  background-color: #fff;
  height: 63px;
  border: none;
  outline: none;
}
.hero-section__input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.hero-section__input::-moz-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.hero-section__input:-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.hero-section__input::-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.hero-section__input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.hero-section__btn {
  position: relative;
  font-family: "Aleo", sans-serif;
  background-color: #5474FD;
  color: #fff;
  border: 2px solid #FFFFFF;
  width: 100%;
  max-width: 153px;
  outline: none;
}
@media (max-width: 768px) {
  .hero-section__btn {
    max-width: 90px;
  }
}
.hero-section__img {
  position: absolute;
  display: inline-block;
  width: 22px;
  height: 24px;
  margin: -3px 0 0 10px;
}
@media (max-width: 768px) {
  .hero-section__img {
    display: none;
  }
}
.hero-section__scroll {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.hero-section__scroll-btn {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.places-section {
  background-color: #333333;
  padding: 46px 0 115px;
}
.places-section__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.places-section__img {
  width: 60px;
  height: 60px;
}

.choose-section {
  background-image: url(/src/image/back-choose.png);
  width: 100%;
  background-repeat: repeat;
  padding: 0 0 117px;
}
@media (max-width: 768px) {
  .choose-section {
    padding: 0;
  }
}
.choose-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choose-section__text-holder, .choose-section__img-holder {
  width: 50%;
}
@media (max-width: 768px) {
  .choose-section__text-holder, .choose-section__img-holder {
    width: 100%;
  }
}
.choose-section__text-holder {
  padding: 211px 0 0;
}
@media (max-width: 768px) {
  .choose-section__text-holder {
    padding: 50px 0 0;
  }
}
.choose-section__img-holder {
  padding: 117px 0 0;
}
@media (max-width: 768px) {
  .choose-section__img-holder {
    padding: 0;
  }
}
.choose-section__title {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  padding: 0 0 50px;
}
@media (max-width: 639px) {
  .choose-section__title {
    font-size: 30px;
  }
}
.choose-section__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 45px;
  color: #E8E8E8;
}
.choose-section__img {
  max-width: 350px;
  margin: 0 0 0 200px;
}
@media (max-width: 1109px) {
  .choose-section__img {
    margin: 0 0 0 140px;
  }
}
@media (max-width: 768px) {
  .choose-section__img {
    margin: 0;
  }
}
.choose-section__img_house {
  max-width: 350px;
  margin: 0 0 10px 110px;
}
@media (max-width: 1109px) {
  .choose-section__img_house {
    margin: 0 0 10px 70px;
  }
}
@media (max-width: 768px) {
  .choose-section__img_house {
    margin: 0;
    padding: 0 0 20px;
  }
}

.spain-section {
  background-image: url(/src/image/spain-house.png);
  padding: 227px 0 90px;
}
.spain-section_mountain {
  background-image: url(/src/image/spain-mountain.png);
  padding: 227px 0 90px;
}
.spain-section_mountain .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.spain-section__text-holder {
  background-color: #232323;
  opacity: 0.9;
  padding: 49px 32px 50px;
  max-width: 543px;
}
.spain-section__pseudo-title {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E8E8E8;
  padding: 0 0 23px;
}
.spain-section__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding: 0 0 13px;
}
.spain-section__description {
  color: #E8E8E8;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 508px;
  padding: 0 0 46px;
}

.our-tourist-section {
  background-image: url(/src/image/our-tourist-section.png);
  background-repeat: no-repeat;
  padding: 128px 0 199px;
  text-align: center;
}
@media (max-width: 768px) {
  .our-tourist-section {
    padding: 60px 0 40px;
  }
}
.our-tourist-section__title {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  padding: 0 0 91px;
}
@media (max-width: 768px) {
  .our-tourist-section__title {
    padding: 0 0 40px;
  }
}
@media (max-width: 639px) {
  .our-tourist-section__title {
    padding: 0 0 30px;
    font-size: 29px;
  }
}

.sam-interview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 639px) {
  .sam-interview {
    display: block;
  }
}
.sam-interview__img {
  max-width: 445px;
}
@media (max-width: 768px) {
  .sam-interview__img {
    max-width: 300px;
  }
}
@media (max-width: 639px) {
  .sam-interview__img {
    max-width: 100%;
  }
}
.sam-interview__text-holder {
  width: 100%;
  max-width: 668px;
  background-color: #333333;
  padding: 49px 62px;
  text-align: left;
}
@media (max-width: 768px) {
  .sam-interview__text-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 639px) {
  .sam-interview__text-holder {
    padding: 20px 40px;
  }
}
.sam-interview__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding: 0 0 8px;
}

.footer {
  background-color: #232323;
  padding: 122px 0 47px;
  text-align: center;
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  padding: 0 0 8px;
}
.footer__description {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 15px;
}

.sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sprite__icon {
  background-image: url(/src/image/Icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  width: 30px;
  height: 20px;
}
.sprite__icon_facebook {
  background-position: 0 0;
}
.sprite__icon_twiter {
  background-position: -30px 0;
}
.sprite__icon_in {
  background-position: -65px 0;
}
.sprite__icon_youtube {
  background-position: -105px 0;
}
.sprite__icon_p {
  background-position: -145px 0;
}
/*# sourceMappingURL=main.css.map */