.hero-section{
    &__title{
        font-size: 48px;
        line-height: 64px;
        padding: 34px 0 37px;

        @include breakpoint ('md'){
            font-size: 38px;
            line-height: 54px;
            padding: 24px 0 27px;
        }
    }

    &__hero-img{
        padding: 0 0 100px;

        @include breakpoint ('md'){
            padding: 0 0 80px;
            width: 100%;
        }
    }
}