*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color:$grey;
}

h1{
    color: $black;
    font-size: 23px;
}

a{
    text-decoration: none;
    color: $black;
}

img{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
}

