@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #544837;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  color: #2F281E;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  position: relative;
  padding: 20px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.active .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header.active .nav-opener span {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header.active .nav-opener::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.header.active .nav-opener::after {
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    background-color: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
}

.nav-list {
  margin: 0 60px 0 -20px;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 20px;
    width: 100%;
  }
}
.nav-list__item {
  display: inline-block;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .nav-list__item {
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .nav-list__item a {
    display: block;
    text-align: center;
    padding: 10px;
  }
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .btn-list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
.btn-list__item {
  display: inline-block;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .btn-list__item {
    width: 100%;
    margin: 0 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  color: white;
  background: #FF9900;
  border-radius: 4px;
}

.small {
  padding: 11px 25px;
}

.big {
  padding: 15px 35px;
}
@media (max-width: 639px) {
  .big {
    font-size: 15px;
  }
}

.btn-white {
  color: #000;
  padding: 11px 25px;
  border-radius: 4px;
  border: 1px solid #BCD0E5;
}

.nav-opener {
  display: none;
}
@media (max-width: 767px) {
  .nav-opener {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 3;
  }
}
.nav-opener::before {
  content: "";
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #2F281E;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.nav-opener::after {
  content: "";
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #2F281E;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.nav-opener span {
  width: 30px;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #2F281E;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.design_thinking {
  margin: 30px 0 110px;
}
@media (max-width: 767px) {
  .design_thinking {
    margin: 15px 0 80px;
  }
}
@media (max-width: 567px) {
  .design_thinking {
    font-size: 50px;
  }
}
.design_thinking__text-col, .design_thinking__btn-item, .design_thinking__img-col {
  width: 50%;
}
@media (max-width: 767px) {
  .design_thinking__text-col, .design_thinking__btn-item, .design_thinking__img-col {
    width: 100%;
  }
}
.design_thinking__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}
@media (max-width: 767px) {
  .design_thinking__title {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 567px) {
  .design_thinking__title {
    font-size: 28px;
  }
}
.design_thinking__text-holder {
  width: 100%;
  max-width: 458px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 767px) {
  .design_thinking__text-holder {
    text-align: center;
    max-width: 768px;
  }
}
.design_thinking__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 45px 0;
}
@media (max-width: 767px) {
  .design_thinking__btn-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 359px) {
  .design_thinking__btn-list {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
.design_thinking__btn-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 567px) {
  .design_thinking__btn-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: #FF9900;
}
@media (max-width: 359px) {
  .btn-play {
    padding: 20px 0;
  }
}
.btn-play__img {
  padding: 0 9px;
}
@media (max-width: 567px) {
  .btn-play__img {
    display: inline-block;
    padding: 0 5px;
  }
}

.design-tools__title {
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 0 54px;
}
@media (max-width: 767px) {
  .design-tools__title {
    font-size: 28px;
  }
}
@media (max-width: 639px) {
  .design-tools__title {
    font-size: 20px;
  }
}

.design-block {
  width: 25%;
}
@media (max-width: 767px) {
  .design-block {
    width: 50%;
  }
}
@media (max-width: 639px) {
  .design-block {
    width: 100%;
  }
}
.design-block__img {
  padding: 0 0 30px;
}
@media (max-width: 639px) {
  .design-block__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.design-block__title {
  padding: 0 0 13px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
@media (max-width: 639px) {
  .design-block__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.design-block__description {
  width: 100%;
  max-width: 240px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 0 0 30px;
}
@media (max-width: 639px) {
  .design-block__description {
    max-width: 640px;
    text-align: center;
  }
}

.design-tools-btn__btn-item {
  padding: 60px;
  text-align: center;
}
@media (max-width: 359px) {
  .design-tools-btn__btn-item {
    padding: 20px;
  }
}

.design-professionals {
  margin: 210px 0 102px;
}
.design-professionals__text-holder, .design-professionals__img-holder {
  width: 50%;
}
@media (max-width: 767px) {
  .design-professionals__text-holder, .design-professionals__img-holder {
    width: 100%;
  }
}
.design-professionals__pseudo-title {
  padding: 0 0 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.design-professionals__hero-title {
  padding: 0 0 22px;
  font-size: 36px;
  line-height: 54px;
}
.design-professionals__description {
  padding: 0 0 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.design-professionals__title-description {
  padding: 0 0 12px;
  font-size: 16px;
  line-height: 26px;
}
.design-professionals__img-holder {
  padding-left: 104px;
}
@media (max-width: 767px) {
  .design-professionals__img-holder {
    padding: 0;
  }
}

.markets {
  margin: 0 0 147px;
}

.product-managers {
  margin: 0 0 106px;
}
.product-managers__text-holder, .product-managers__img-holder {
  width: 50%;
}
@media (max-width: 767px) {
  .product-managers__text-holder, .product-managers__img-holder {
    width: 100%;
  }
}
.product-managers__img-holder {
  padding: 0 102px;
}
@media (max-width: 767px) {
  .product-managers__img-holder {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
}
.product-managers__pseudo-title {
  padding: 0 0 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.product-managers__hero-title {
  padding: 0 0 22px;
  font-size: 36px;
  line-height: 54px;
}
.product-managers__description {
  padding: 0 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.text-list__item {
  padding: 0 0 30px;
  max-width: 385px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 39px;
}

.text-list__item::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  left: -65px;
  top: 50%;
  background: #FF9900;
  border-radius: 14px;
}

.text-list__item::before {
  position: absolute;
  content: "✔";
  color: white;
  left: -53px;
  top: 9px;
}

.footer {
  margin-bottom: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .container {
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
  padding-top: 105px;
}
@media (max-width: 1023px) {
  .footer .container {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .footer .container {
    padding-top: 70px;
  }
}
.footer .flex-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 767px) {
  .footer .flex-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 567px) {
  .footer .flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__logo {
  padding-bottom: 30px;
  display: inline-block;
}
@media (max-width: 767px) {
  .footer__nav {
    width: 30%;
  }
}
@media (max-width: 567px) {
  .footer__nav {
    width: 50%;
    margin-bottom: 20px;
  }
}
.footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 35px;
  width: 247px;
  padding-right: 20px;
}
.footer__nav-list_wide {
  width: 213px;
}
.footer__nav-link {
  text-decoration: none;
  color: #544837;
}
@media (max-width: 567px) {
  .footer__form {
    width: 100%;
  }
}

.form__input {
  height: 48px;
  margin: 0 0 20px;
}
/*# sourceMappingURL=main.css.map */