.final-design{
    padding: 0 0 170px;

    @include breakpoint ('md'){
        padding: 0 0 100px;
    }

    @include breakpoint ('sm'){
        padding: 0 0 69px;
    }

    &__title{
        padding: 0 0 40px;
    }

    &__img-holder{
        padding: 0 0 56px;

        @include breakpoint ('md'){
            padding: 0 0 56px;
        }

        @include breakpoint ('sm'){
            padding: 0 0 48px;
        }

        &__description{
            font-size: 19px;
            line-height: 32px;
        }
    }
}