.project-section{
    padding: 0 0 211px;

    @include breakpoint ('md'){
        padding: 0 0 81px;
    }

    @include breakpoint ('sm'){
        padding: 0 0 65px;
    }

    &__title{
        font-size: 23px;
        padding: 0 0 40px;

        @include breakpoint ('md'){
            padding: 0 0 16px;
        }
    }

    &__description{
        font-size: 19px;
        line-height: 32px;
        max-width: 544px;

        @include breakpoint ('md'){
            max-width: 733px;
        }

        @include breakpoint ('sm'){
            max-width: 288px;
        }
    }
}