.sketch-section{
    padding: 0 0 128px;

    @include breakpoint ('md'){
        padding: 0 0 56px;
    }

    @include breakpoint ('sm'){
        padding:  0 0 64px;
    }

    &__title{
        padding: 0 0 40px;
    }

    &__img-holder{
        padding: 0 0 50px;

        @include breakpoint ('md'){
            padding: 0 0 46px;
        }

        @include breakpoint ('sm'){
            padding: 0 0 48px;
        }
    }
}