.user-research{
    padding: 0 0 128px;

    @include breakpoint ('md'){
        padding: 0 0 64px;
    }

    &__title{
        padding: 0 0 40px;

        @include breakpoint ('md'){
            padding: 0 0 60px;
        }
        
        @include breakpoint ('sm'){
            padding: 0 0 32px;
        }
    }

    &__img-holder{
        padding: 0 0 50px;

        @include breakpoint ('md'){
            padding: 0 0 56px;
        }

        @include breakpoint ('sm'){
            padding: 0 0 48px;
        }
    }

    &__description{
        font-size: 19px;
        line-height: 32px;
    }
}