*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: $white;
}

a{
    text-decoration: none;
    color:white;
}

img{
    display: block;
    width: 100%;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding:0 15px;
}

.btn-holder{
    font-family: 'Aleo', sans-serif;
    background-color: $blue;
    max-width: 228px;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    @include breakpoint ('md'){
        margin: 0 0 20px;
    }
}