.header{
    padding: 28px 0;

    .logo{
        width: 75px;
    }
    .nav-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:calc(100% - 75px);
    }

    .nav{
        display: flex;
        justify-content: space-between;
    }

    .nav-list{
        list-style: none;
    }

    .nav-item{
        display: inline-block;
        padding: 0 20px;
    }

    .nav-link{
        &:hover{
            color:$orange;
        }
    }

    .header-btn{
        border:1px solid $orange;
        padding: 15px 25px;
    }
}