.hero-section{
    height: 602px;
    background-image: url(/src/image/hero-img.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .hero-text-holder{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }

    .hero-description{
        color: $orange;
        font-size: 12px;
        line-height: 22px;
        padding:0 0 15px;
    }

    .hero-title{
        color: $white;
        text-align: center;
        font-size: 70px;
        line-height: 80px;
        max-width: 869px;
        padding: 0 0 35px;
    }

    .hero-btn{
        background-color: $orange;
        padding: 14px 24px;
        color: $black;
    }
}