*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #3B3F45;
}

.title-section{
    text-align: center;
    background-color:  #4A4F56;;
}

.title-text{
    color: #FF8984;
}

.title-text h1{
    padding-top: 19px;
    font-size: 24px;
    line-height: 28px;
}

.title-text h2{
    padding: 4px 0 12px;
    font-size: 16px;
    line-height: 19px;
}

.main-section{
    display: block;
    padding: 20px;
}

.point-block{
    width: 100%;
    width: 534px;
    margin: 0 auto;
}

.point-holder{
    margin: 0 16px;
}

.point-list{
    background-color: #88839E;
    border: 1px solid white;
}

.button-section{
    margin: 45px auto;
}

.button-holder{
    margin: 0 auto;
}

.button{
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    width: 100%;
    width: 534px;
    background-color: #4A4F56;
}