p{
    margin-bottom: 40px;
}

.text{
    text-align: center;
    margin: 0px 620px;
    width: 201px;
    height: 43px;
    margin-bottom: 20px;
}

.cont{
    max-width: 480px;
    margin-left: 478px;
    text-align: center;
    width: 1445px;
    height: 517px;    
}